
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
    background-color: var(--background-color);
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
}


.advice {
    
    background-color: var( --advice-card-color);
    flex-direction: column;
    border-radius: 10px;
    width: 390px;
    height: 270px;
    position: relative;
}

.advice h2 {
    padding-top: 2rem;
    color: var( --advice-dice-color);
    font-size: 11px;
    margin: 0;
    
}

.advice p {
    padding: 1rem;
    font-size: 20px;
    color: var(--text-color);
    margin: 0;
}

.advice img {
    width: 24rem;
    margin-top: 3%;
    position: absolute;
    right: 51px;
    top: 170px;
}

.card #btn {
    background-color: var(--advice-dice-color);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 24%;
    transition: 0.4s;

}

.card #btn:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 1px 12px var(--advice-dice-color);
    transform: scale(1.05);
    transition: 0.4s;
}

.card .imagem-bt{
    background-color: var(--advice-dice-color);
    margin-top: 22px;
}

